body {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    line-height: 1.8;
    color: #f5f6f7;
}
p {
    font-size: 20px;
    text-align: justify;
}
.margin {margin-bottom: 45px;}
.bg-1 {
    background-color: #1abc9c;  /* Green */
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    letter-spacing: 3px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
h1 {
    text-align: center;
}
.center {
    text-align: center;
}

#footer p {
    text-align: center;
}
.machineLearningToolbox {
    height: 60px;
    color: #555;
}
.project_keywords {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5;
    color: #FFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #999;
}
